/* PHASE 2: Navigation */

.header-logo {
float: left;
border-right: 1px solid blanchedalmond;
}

.header-logo:hover {
    background-color: beige;
}

.header-list {
    float: right;
}

.header-list > li {
    float: left;
    border-left: 1px solid beige;
}

.header-list > li:hover {
    background-color: aquamarine;
}
